{% extends "base.html" %}

 {% block css %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
 {% endblock%}

 
{% block main %}
<h1>Contact Form</h1>
<hr>
<p>Fill in this form to contact the site owners.</p>
<form method="POST" action="/contact">
  {{ form.csrf_token }}
  
    <div class="container"> 
      <div class="top">{{ form.name.label }} <span>(Required)</span> </div>
      <div>{{ form.name }} </div>
    </div>

    <div class="container"> 
      <div class="top">{{ form.email.label }} <span>(Required)</span> </div>
      <div>{{ form.email }} </div>
    </div>

      <div class="container"> 
        <div class="top">{{ form.subject.label }} <span>(Required)</span> </div>
        <div>{{ form.subject }} </div>
    </div>

      <div class="container"> 
        <div class="top">{{ form.message.label }} <span>(Required)</span> </div>
        <div>{{ form.message }} </div>
    </div>

    <br>
     
    <button type="submit">Send</button>

  </div>


</form>

{% endblock %}